@import './_globals.scss';
@import './_modal.scss';
@import './_weather-modal.scss';

.main {
  position: relative;
  overflow: hidden;
}

.map {
  display: block;
  width: 100%;
  height: 100vh;
  fill: #94db94;
  object-position: center;
  object-fit: cover;

  path {
    stroke: #000000;
    stroke-width: 0.4px;
  }
}

.settings {
  position: absolute;
  left: 37px;
  top: 37px;

  &__icon {
    cursor: pointer;
  }

  &__menu {
    font-size: 18px;
    margin: 20px 0 0;
    padding: 30px 17px;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.3s;

    &--active {
      opacity: 1;
      z-index: 9;
    }

    &-label {
      font-weight: bold;
      line-height: 22px;
      letter-spacing: 0.02em;
      margin: 0 10px 0 0;

      color: $text_color;
    }

    & > *:not(:first-child) {
      margin: 22px 0 0;
    }
  }

  &__mode {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__switcher {
    &:checked::after {
      background-color: #17263c;
    }

    &:checked {
      background-color: #52637a;
    }
  }

  &__radio-btn {
    margin: 0 10px 0 0;
  }

  &__lang {
    display: flex;
    justify-content: space-between;

    &-item {
      display: flex;
      align-items: center;

      &:nth-of-type(n + 2) {
        margin: 8px 0 0;
      }

      label {
        font-weight: 700;
        text-transform: uppercase;
        color: $text_color;
      }
    }
  }

  &__return {
    display: inline-block; // Global
    text-decoration: none; // Global
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #4b7bec;
  }
}

.switcher {
  position: relative;
  width: 60px;
  height: 28px;
  background: #dadada;
  border-radius: 20px;
  display: block;
  cursor: pointer;
  appearance: none;
  transition: all 0.3s;

  &:after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 2px;
    top: 2px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
  }

  &:checked::after {
    left: 34px;
  }
}

.radio-btn {
  position: relative;
  appearance: none;
  width: 24px;
  height: 24px;
  border: 1px solid #dadada;
  border-radius: 50%;

  &:checked {
    background-color: #4b7bec;

    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #fff;
    }
  }
}

.menu {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 35ch;
    transform: translateY(60%);

    transition: all 0.3s ease-in-out;

    &--active {
        transform: translateY(0%);
        width:100%

    }

  &--active {
    transform: translateY(0%);
  }

  &__arrow {
    cursor: pointer;
    margin: 0 0 37px 37px;
    transition: transform 0.3s;
    transform: rotate(180deg);

    &--active {
      transform: rotate(0);
    }
  }

  &__inner {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    padding: 35px 0;
  }

  &__container {
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }

  &__item {
    position: relative;
    width: 30%;
    max-width: 300px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.3);
    }

    &-text {
      position: absolute;
      left: 50%;
      top: 60%;
      transform: translate(-50%, -50%);
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: $text_color;
    }

    &-icon {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.quiz {
  fill: #bfbaba;
  stroke: #3e3e3e;
  stroke-width: 0.30082097;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  cursor: pointer;

  &:hover {
    fill: #dc901d;
  }
}

.wrong {
  fill: red !important;
}

.done {
  fill: green !important;
}
